@model Student
<h2>Student Details</h2>
<ul>
    <li><strong>ID:</strong> @Model.StdID</li>
    <li><strong>Name:</strong> @Model.Name</li>
    <li><strong>Address:</strong> @Model.Address</li>
    <li><strong>Faculty:</strong> @Model.Faculty</li>
</ul>
